# Compiled class files
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Eclipse files
.settings/
.project
.classpath

# IntelliJ IDEA files
.idea/
*.iml
*.iws
out/

# NetBeans files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code files
.vscode/

# Maven files
target/

# Gradle files
.gradle/
build/

# Others
.DS_Store
.env
.metadata/
.recommenders/
*.log
